{% extends "layout.html" %}
{% block body %}
<!--Bottom-->

<div class="main">
    <div class="formDiv ui container">
        <div class="ui pilled tertiary inverted segment">
            <a class="ui red ribbon label" href="/">Back</a>
            <hr>
            <form class="ui form">
                <div class="three fields">
                    <div class="five wide field">
                    </div>

                    <div class="six wide red field">
                        <label>Enter Bank Name</label>
                        <input type="text" name="bankname" placeholder="Reader No.">
                    </div>
                    <div class="five wide field">
                    </div>

                </div>
                <!--/fields-->
                <div class="fields">
                    <div class="seven wide field"></div>
                    <div class="two wide field"><a href="#">
                            <div class="ui animated fluid fade facebook button" tabindex="0">
                                <div class="visible content">&nbsp;Add&nbsp;</div>
                                <div class="hidden content">
                                    <i class="plus large icon"></i>
                                </div>
                            </div>
                        </a></div>
                    <div class="seven wide field"></div>
                </div>
                <!--/fields-->
            </form>
            <!--Table-->
            <table class="ui selectable center aligned inverted tertiary celled table">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Banke Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Sr No.">1</td>
                        <td data-label="Fine">Habib Bank Limited</td>
                        <td data-label="Button"><a href="#">
                                <div class="ui animated fade vk inverted button" tabindex="0">
                                    <div class="visible content">&nbsp;Delete&nbsp;</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Sr No.">2</td>
                        <td data-label="Fine">Allied Bank</td>
                        <td data-label="Button"><a href="#">
                                <div class="ui animated fade vk inverted button" tabindex="0">
                                    <div class="visible content">&nbsp;Delete&nbsp;</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Sr No.">3</td>
                        <td data-label="Fine">Bank Al Habib</td>
                        <td data-label="Button"><a href="#">
                                <div class="ui animated fade vk inverted button" tabindex="0">
                                    <div class="visible content">&nbsp;Delete&nbsp;</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Sr No.">4</td>
                        <td data-label="Fine">Muslim Commercial</td>
                        <td data-label="Button"><a href="#">
                                <div class="ui animated fade vk inverted button" tabindex="0">
                                    <div class="visible content">&nbsp;Delete&nbsp;</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Sr No.">5</td>
                        <td data-label="Fine">Bank Dubai Islamic</td>
                        <td data-label="Button"><a href="#">
                                <div class="ui animated fade vk inverted button" tabindex="0">
                                    <div class="visible content">&nbsp;Delete&nbsp;</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>


                </tbody>
            </table>
            <!--/Table-->

            <!--/form-->
            <a class="ui blue right ribbon label">Designed by IT Branch, CTO Faisalabad.</a>
        </div>
    </div>
</div>
<!--/main-->
{% endblock %}
<!--CIMS by MUHAMMAD ALI NIZAMI-->
