{% extends "layout.html" %}
{% block body %}
<!--Bottom-->
<div class="main">
    <div class="ui three column doubling stackable grid container">
        <div class="column">
            <a href="/bookHQ2Circle">
                <h3 class="ui header heading">Books Issued: HQ to Circle</h3>
            </a>
        </div>
        <div class="column">
            <a href="/bookCircle2Sector">
                <h3 class="ui header heading">Books Issued: Circle to Sector</h3>
            </a> </div>
        <div class="column">
            <a href="/bookSector2Officer">
                <h3 class="ui header heading">Book Issued: to Officer</h3>
            </a> </div>
        <div class="column">
            <a href="/entryTicketInfo">
                <h3 class="ui header heading">Enter Ticket Information</h3>
            </a> </div>
        <div class="column">
            <a href="/paidTicketInfo">
                <h3 class="ui header heading">Paid Ticket Information</h3>
            </a> </div>
        <div class="column">
            <a href="/usedCBInfo">
                <h3 class="ui header heading">Used Challan Book Information</h3>
            </a> </div>
        <div class="column">
            <a href="/entryBankName">
                <h3 class="ui header heading">Enter Bank Name</h3>
            </a> </div>
        <div class="column">
            <a href="/entryVehicleCategory">
                <h3 class="ui header heading">Enter Vehicle Category</h3>
            </a> </div>
        <div class="column">
            <a href="/statementsRegisters">
                <h3 class="ui header heading">Registers / Statements</h3>
            </a> </div>
    </div>
</div>
{% endblock %}
<!--CIMS by MUHAMMAD ALI NIZAMI-->
