<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>it's Not OVER Until You win Your dream is possible</h1>
    <p>setting goals is the first step is turning the invisible into the visible. <br />
        success is no accident. it is hard work, preseverance, learnning studying. scrifice and most of all, <b>love of what you are doing or learing to do.</b>
    </p>
    <h2>Never give up</h2>
    <p>
        stay true to yourself, yet always be open to learn, work hard, and nevr give up on your dreams, even when nobody else believes they can cometrue but you. these are not clickes but real tools you need no matter what you do in life to stay focused on your path.
    </p>
    <h3>with hard work and effor, you can achive anything.</h3>
    <h4>with hard work and dedication, anything is possible</h4>
    <h5>a lot of hard work is hidden behind nice things</h5>
    <h6>through hard work you can do what you want to do.</h6>

</body>

</html>
