{% extends "layout.html" %}
{% block body %}
<!--Bottom-->

<head>

    <!--script src="{{ url_for('static', filename='assets/semantic/dist/customJS.js')}}"></script-->
    <!--Custom JS-->
</head>

<body class="ui container">
    <h3>{{sample.id}}</h3>
    <h3>{{sample.officerbeltno}}</h3>
    <h3>{{sample.rank}}</h3>
    <h3>{{sample.officername}}</h3>
    <h3>{{sample.date}}</h3>
    <h3>{{sample.diaryno}}</h3>
    <h3>{{sample.circle}}</h3>
    <h3>{{sample.serialfrom}}</h3>
    <h3>{{sample.serialto}}</h3>
</body>

{% endblock %}
<!--CIMS by MUHAMMAD ALI NIZAMI-->
